@media screen and (min-width: 320px) and (max-width: 640px){
  .container {
    max-width: 85%;
  }
  .app-info__container {
    width: 100%;
    max-width: 600px;
    position: absolute;
    top: 13%;
    left: 0;
    transform: none;
  }
  .app-info__modal {
    box-sizing: padding-box;
  }

}
