@media screen and (min-width: 320px) and (max-width: 640px){
  body {
    font-size: 120%;
  }
  .main-container {
    max-width: 85%;
  }
  .app-info__container {
    width: 100%;
    max-width: 600px;
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
  }
  .title__container {
    margin-top: 2em;
  }
  .container .title {
    width: 300px;
    margin: 0.5em auto 0;
    font-size: 3.5em;
  }
  .title__icon {
    width: 28px;
    height: auto;
  }
  .app-info__modal {
    box-sizing: padding-box;
  }
  .app-info__title {
    margin-top: 1em;
    font-size: 3em;
  }
  .app-info__text {
    font-size: 1.2em;
  }
  .settings__message {
    width: 90%;
  }
  .settings__time {
    min-width: 240px;
    max-width: 260px;
  }
}
