body {
  margin: 0;
  padding: 0;
  background-color: /*#0a97b7;*/ #55cfd6;
  overflow: hidden;
}
.container {
  max-width: 100%;
  margin: 0;
  padding: 2em 0;
  text-align: center;
  position: relative;
}
.container .container__title {
  margin: 0;
  color: #fef8e7;
  font-size: 3.3em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
.lnr.lnr-history {
  margin: 0 3px;
  font-size: 25px;
  position: relative;
  bottom: 1px;
}
.container__description {
  margin-top: 0;
  color: #fef8e7;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: capitalize;
  font-size: 1.8em;
}
.app-info__icon {
  text-align: right;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
  position: absolute;
  top: 0.4em;
  right: 0.5em;
}
.lnr.lnr-question-circle,
.lnr.lnr-cross {
  color: #fef8e7;
  font-size: 30px;
  cursor: pointer;
}
.app-info__container {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 600px;
  min-height: 300px;
  height: auto;
  z-index: 2;
  transform: translateX(-50%) translateY(-50%);
}
.app-info__overly {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
}
.app-info__modal {
  box-sizing: border-box;
  padding: 1em 5em 1.5em;
  width: 100%;
  height: 100%;;
  background-color: #ff7272;
  color: #fef8e7;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 20px -10px #333;
  visibility: hidden;
  transform: translateY(50%);
  opacity: 0;
  transition: all 0.3s;
}
.app-info--show.app-info__modal {
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}
.app-info--show.app-info__overly {
  opacity: 1;
  display: block;
}
.app-info__close {
  position: absolute;
  top: 0.7em;
  right: 0.7em;
  z-index: 1;
}
.app-info__title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 2.5em;
}
.app-info__text {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
}
.settings__container {
  margin-top: 3em;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.settings__break-reset {
  position: relative;
  left: -1.8em;
}
.lnr.lnr-undo {
  color: #fef8e7;
  font-size: 25px;
  cursor: pointer;
  transform: rotateZ(90deg);
}
.settings__time {
  width: 180px;
  height: 70px;
  margin: 0 2em;
  text-align: center;
  border: 2px solid #fef8e7;
  border-radius: 5px;
}
.settings__time-title {
  display: block;
  width: 120px;
  margin: 0 auto;
  margin-top: -0.8em;
  background-color: #55cfd6;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  position: relative;
}
.settings__time-title:before {
  content: ".";
  display: block;
  font-size: 3em;
  margin: 0;
  color: #fef8e7;
  position: absolute;
  top: -0.66em;
  left: -0.1em;
}
.settings__time-title:after  {
  content: ".";
  display: block;
  font-size: 3em;
  margin: 0;
  color: #fef8e7;
  position: absolute;
  top: -0.66em;
  right: -0.1em;
}
.settings__time-substract,
.settings__time-digits,
.settings__time-add {
  display: inline-block;
  color: #fef8e7;
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.settings__time-digits {
  width: 35px;
}
.settings__time-substract,
.settings__time-add {
  margin: 0 0.2em;
  margin-top: -0.2em;
  font-size: 3em;
  cursor: pointer;
}
#clock-canvas {
  position: relative;
  top: 1em;
  left: calc(50% - 102px);
}
.clock-container {
  position: relative;
}
.clock-time {
  width: 200px;
  color: #fef8e7;
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  position: absolute;
  top: 2.7em;
  left: calc(50% - 40px);
}
