body {
  margin: 0;
  padding: 0;
  background-color: #73aaba;
  font-size: 100%;
}
.app-container {
  width: 100%;
  padding: 1em 0 0;
  background-color: #73aaba;
}
.main-container {
  max-width: 470px;
  height: auto;
  margin: 0 auto 0em;
  padding: 2em 0.7em;
  background-color: #225170;
  text-align: center;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 10px 10px -5px #333;
}
.main-container .title {
  margin: 0;
  color: #fef8e7;
  font-size: 2.5em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
.title__icon {
  width: 20.5px;
  height: auto;
}
.lnr.lnr-history {
  margin: 0 3px;
  font-size: 23px;
  position: relative;
  bottom: 1px;
}
.description {
  margin-top: 0;
  color: #fef8e7;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1.4em;
}
.app-info__icon {
  position: absolute;
  top: 0.6em;
  right: 0.7em;
}
.lnr.lnr-question-circle,
.lnr.lnr-cross {
  color: #fef8e7;
  font-size: 30px;
  cursor: pointer;
}
.app-info__container {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 600px;
  min-height: 300px;
  height: auto;
  z-index: 2;
  transform: translateX(-50%) translateY(-50%);
}
.app-info__overly {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
}
.app-info__modal {
  box-sizing: border-box;
  padding: 0.5em 3em 1.5em;
  width: 100%;
  height: 100%;
  background-color: #ef4c7d;
  color: #fef8e7;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 20px -10px #333;
  visibility: hidden;
  transform: translateY(50%);
  opacity: 0;
  transition: all 0.3s;
}
.app-info--show.app-info__modal {
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}
.app-info--show.app-info__overly {
  opacity: 1;
  display: block;
}
.app-info__close {
  position: absolute;
  top: 0.7em;
  right: 0.7em;
  z-index: 1;
}
.app-info__title {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2.5em;
}
.app-info__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.4em;
}
/* Flex container */
.settings__container {
  margin-top: 2em;
  padding: 1em 0;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  position: relative;
}
.settings__message {
  width: 60%;
  padding: 1px 10px;
  background-color: rgba(115, 170, 186, 0.6);
  border-radius: 5px;
  color: #fef8e7;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  position: absolute;
  top: -1em;
  left: 50%;
  visibility: hidden;
  transform: translateX(-50%);
  transition: 0.5s all;
  opacity: 0;
}
/* Flex items */
.settings__time {
  margin: 0 1em 1em;
  flex-grow: 1;
  flex-shrink: 0;
  background-color: #ef4c7d;
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.settings__time__break-icon {
  width: 30px;
  height: 30px;
  margin-top: 0.8em;
}
.settings__time__work-icon {
  width: 40px;
  height: 30px;
  margin-top: 0.8em;
}
.settings__break-reset,
.settings__work-reset {
  margin-top: 0.5em;
}
.settings__time-substract,
.settings__time-digits,
.settings__time-add {
  margin: 0.3em auto;
  color: #fff;
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.settings__time-digits {
  display: block;
  width: 60px;
  margin: 0 auto 0.4em;
  font-size: 1.6em;
}
.settings__time-substract,
.settings__time-add {
  display: block;
  width: 30px;
  background-color: rgba(115, 170, 186, 0.7);
  padding: 4px 8px;
  margin-top: 0;
  cursor: pointer;
  position: absolute;
}
.settings__time-substract {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.settings__time-add {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
/*** Clock ***/
.clock-container {
  max-width: 100%;
  min-height: 250px;
  position: relative;
}
.clock-message {
  width: 80%;
  padding: 3px 10px;
  background-color: rgba(115, 170, 186, 0.6);
  border-radius: 5px;
  color: #fef8e7;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  position: absolute;
  top: -2em;
  left: 50%;
  visibility: hidden;
  transform: translateX(-50%);
  transition: 0.5s all;
  opacity: 0;
}
.clock-session {
  width: 130px;
  margin: 1em auto 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fef8e7;
  letter-spacing: 1px;
}
.clock-session__count {
  width: 130px;
  margin: 0 auto 0.6em;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  letter-spacing: 1px;
  color: #fef8e7;
  border-bottom: 1px solid #fef8e7;
}
.clock-time {
  color: #fef8e7;
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.clock-container__play,
.clock-container__pause,
.clock-container__reset {
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
}
.clock-container__play {
  top: 8.3em;
  left: calc(50% - 68px);
}
.clock-container__pause {
  top: 9.3em;
  left: calc(50% - 20px);
}
.clock-container__reset {
  top: 8.3em;
  left: calc(50% + 28px);
}
.clock-tooltip {
  visibility: hidden;
  padding: 1px 6px 3px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 0.7em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  opacity: 0;
  transform: translateY(-30%);
  transition: all 0.3s ease-in-out;
}
.clock-tooltip::after {
  content: "";
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent rgba(255, 255, 255, 0.2) transparent;
  position: absolute;
  bottom: 100%;
  left: 50%;
}
.clock-tooltip__play {
  position: absolute;
  bottom: 2.6em;
  left: calc(50% - 65px);
}
.clock-tooltip__pause {
  position: absolute;
  bottom: 1.2em;
  left: calc(50% - 22px);
}
.clock-tooltip__reset {
  position: absolute;
  bottom: 2.6em;
  left: calc(50% + 29px);
}
.clock-container__play:hover ~ .clock-tooltip__play,
.clock-container__pause:hover ~ .clock-tooltip__pause,
.clock-container__reset:hover ~ .clock-tooltip__reset {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}

/*** Footer ***/
.footer {
  max-width: 100%;
  padding: 1.5em 0;
  text-align: center;
}
.footer__copyright {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  color: #fef8e7;
}
.footer__social-btn {
  margin-top: 0.4em;
}
.footer__social-btn .fa.fa-twitter-square,
.footer__social-btn .fa.fa-codepen,
.footer__social-btn .fa.fa-github-square {
  color: #ef4c7d;
}
